
.ui-datatable .rowTabela td{
    border: 1px solid #f4f4f4 !important;
    padding: 5px;
}

.ui-datatable-header{
	border-style: hidden !important;
	padding-right:0 !important;
}

.ui-datatable thead th {
    background-image: none !important;
    background-color: #e0e1e1 !important;
    color: #171717 !important;
   
}

.ui-datatable .rowTabela:hover{
    background-color: #CCEBFF !important;
}

.ui-datatable .btn-tabela{
	padding-left:50% !important;
	padding-right:50% !important;
}

#userImage{
	width: 17px; 
}


